<mat-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="questionsForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>A New Form</h3>
      <div>
        <button
          [disabled]="!questionsForm.valid"
          mat-raised-button
          color="primary"
        >Publish</button>
        <button (click)="onClear()" mat-raised-button type="button"  color="warn">Clear</button>
      </div>
    </div>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="* Form Name">
    </mat-form-field>
    <mat-error
      *ngIf="questionsForm.get('name').hasError('required') &&
        !questionsForm.get('name').untouched"
    >
      <small>Form name is required.</small>
    </mat-error>
    <mat-form-field fxFlexAlign="stretch">
      <textarea formControlName="description" matInput placeholder="* Form Description"></textarea>
    </mat-form-field>
    <mat-error
      *ngIf="questionsForm.get('description').hasError('required') &&
        !questionsForm.get('description').untouched"
    >
      <small>Form description is required.</small>
    </mat-error>
    <div fxFlexOffset="30px"><mat-divider></mat-divider></div>
      <button
        *ngIf="getQuestionCount() >= adjustOnQuestionCount"
        (click)="onAddQuestion()"
        type="button"
        mat-mini-fab
        fxFlexAlign="end"
        fxFlexOffset="25px"
      >
        <mat-icon class="material-icons">plus_one</mat-icon>
      </button>
    <div formArrayName="questions" fxLayout="column" fxFlexOffset="20px">
      <div
        *ngFor="let questionControl of getQuestionControls(); let i = index"
        fxLayout="column"
      >
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexOffset="10px">
        <mat-form-field fxFlex="85">
          <textarea [formControlName]="i" matInput [placeholder]="'* Question ' + (i + 1)"></textarea>
        </mat-form-field>
        <div *ngIf="i !== 0">
          <button (click)="onRemoveQuestion(i)" mat-mini-fab color="warn">X</button>
        </div>
      </div>
      <mat-error
        *ngIf="questionsForm.get('questions.' + i).hasError('required') &&
        !questionsForm.get('questions.' + i).untouched"
      >
        <small>Included question must be filled in.</small>
      </mat-error>
      </div>
    </div>
    <div fxFlexAlign="end">
      <button
        (click)="onAddQuestion()"
        type="button"
        mat-mini-fab
      >
        <mat-icon class="material-icons">plus_one</mat-icon>
      </button>
    </div>
    <div
      *ngIf="getQuestionCount() >= adjustOnQuestionCount"
      fxLayout="row"
      fxFlexOffset="30px"
      fxLayoutAlign="space-between center"
    >
      <div></div>
      <div>
        <button
          [disabled]="!questionsForm.valid"
          mat-raised-button
          type="submit"
          color="primary"
        >Publish</button>
        <button (click)="onClear()" mat-raised-button type="button" color="warn">Clear</button>
      </div>
    </div>
  </form>
</mat-card>


