<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
  <app-form-list fxFlex="25"></app-form-list>
  <div fxFlex="75">
    <h4 *ngIf="!routerIsActive">Please select a form from the list to the left or create a new form by changing the tab above.</h4>
    <router-outlet (deactivate)="onRouterOutletDeactivate()" (activate)="routerOutletActivate()"></router-outlet>
  </div>
</div>
