<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <h4>Answers for question # {{ questionId + 1}}</h4>
  <a (click)="onNavigateBack()" mat-raised-button fxFlexAlign="end">Back</a>
</div>
<div *ngIf="answers">
  <div *ngFor="let answer of answers">
    <mat-list>
      <mat-list-item><p>{{ answer.answer }}</p></mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
</div>



