<mat-card *ngIf="selectedForm" fxLayout="column" fxFlex.lg="70">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>{{ selectedForm.name }}</h3>
      <div>
        <button
          (click)="onArchiveForm()"
          *ngIf="!selectedForm.isArchived"
          mat-raised-button
          color="primary"
        >Archieve</button>
        <button
          (click)="onPublishForm()"
          *ngIf="selectedForm.isArchived"
          mat-raised-button
          color="primary"
        >Publish Again</button>
      </div>
    </div>
    <small *ngIf="answersPerForm === 0">No answers yet</small>
    <small *ngIf="answersPerForm === 1">1 participant has answered</small>
    <small *ngIf="answersPerForm > 1">{{ answersPerForm }} participants have answered</small>
    <mat-form-field>
      <h5>Share this form with the following link:</h5>
      <input matInput [value]="formLink" [readonly]="true">
    </mat-form-field>
    <h4>Description</h4>
    <mat-form-field>
      <textarea matInput [value]="selectedForm.description" [readonly]="true"></textarea>
    </mat-form-field>
    <div fxFlexOffset="30px"><mat-divider></mat-divider></div>
    <h4>Questions</h4>
    <div *ngFor="let question of selectedForm.questions; let i = index" fxLayout="column" fxFlexOffset="20px">
        <div fxLayoutAlign="space-between center">
          <h5>#{{ i + 1 }}</h5>
          <a [disabled]="!selectedForm.answers" (click)="onSeeAnswersClick(i)" mat-raised-button>See Answers</a>
        </div>
        <mat-form-field fxFlex>
          <textarea matInput [value]="question" [readonly]="true"></textarea>
        </mat-form-field>
    </div>
</mat-card>


