<div fxLayout="column" fxLayoutGap="5px">
  <mat-card>
    <div fxLayout="column" fxFlex>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           (click)="updateLocalData()"
           *ngFor="let link of routerLinks"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
    </div>
    <div fxLayout="column" fxFlex="12">
      <a (click)="authService.signOut()"
         mat-raised-button
         color="primary"
      >
        Sign Out
      </a>
    </div>
  </mat-card>
  <router-outlet></router-outlet>
</div>

