<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
  <app-stageable-form fxLayout="column" fxFlex="50"></app-stageable-form>
  <!-- Room for additional components such as unpublished forms list. -->
</div>
