<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner fxFlexOffset="100px"></mat-spinner>
</div>
<div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="center start" fxFlex="100">
  <mat-card fxFlex="75" fxFlex.lg="60">
    <form (ngSubmit)="onSubmit()" [formGroup]="answerFormGroup" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>{{ questionForm.name }}</h3>
        <div>
          <button
            [disabled]="!answerFormGroup.valid"
            type="submit"
            mat-raised-button
            color="primary"
          >Send</button>
        </div>
      </div>
      <div>
        <h5>Form Description:</h5>
        <p><small>{{ questionForm.description }}</small></p>
      </div>
      <div fxFlexOffset="30px"><mat-divider></mat-divider></div>
      <h4>Questions:</h4>
      <div formArrayName="answers" fxLayout="column" fxFlexOffset="20px">
        <div
          *ngFor="let answernControl of getAnswerControls(); let i = index"
          fxLayout="column"
        >
          <h5>{{ questionForm.questions[i] }}</h5>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexOffset="10px">
            <mat-form-field fxFlex="85">
              <textarea [formControlName]="i" matInput placeholder="* Your answer goes here"></textarea>
            </mat-form-field>
          </div>
          <mat-error
            *ngIf="answerFormGroup.get('answers.' + i).hasError('required') &&
        !answerFormGroup.get('answers.' + i).untouched"
          >
            <small>This question must be answered.</small>
          </mat-error>
        </div>
      </div>
      <div fxLayout="row" fxFlexOffset="30px" fxLayoutAlign="space-between center">
        <div></div>
        <div>
          <button
            type="submit"
            [disabled]="!answerFormGroup.valid"
            mat-raised-button
            color="primary"
          >Send</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
