<mat-card fxLayout="column">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <h5>Your Forms</h5>
  <mat-nav-list>
    <div *ngFor="let formItem of questionForms; let i = index">
      <a (click)="onFormItemClick(formItem.id)" mat-list-item>{{ formItem.name }}</a>
    </div>
  </mat-nav-list>
</mat-card>



