<div fxLayout="row" fxFlexAlign="center" fxLayoutAlign="center center">
  <mat-card fxLayout="column">
    <div fxFlex="100"><h3>Welcome to Forms Sharing App</h3></div>
    <p>This is a prototype app for creating forms and sharing links to them.</p>
    <p>Signed in users create the forms and then share (public) form links <br>to gain answers to their questions.</p>
    <p>This app uses Angular Material and Angular Flexlayout for the UI & UX. <br>Google Firestore/Firebase is used for data storage and authentication.</p>
    <p>Minor bugs may occur and Flex Layout's response API is not fully in use.</p>
    <button
      *ngIf="!(authService.user | async)"
      (click)="onSingIn()"
      type="button"
      fxFlexAlign="center"
      fxFlexOffset="20px"
      mat-raised-button
      color="primary"
    >Google Account Sign In</button>
    <button
      *ngIf="authService.user | async"
      (click)="authService.signOut()"
      type="button"
      fxFlexOffset="20px"
      mat-raised-button
    >Sign Out</button>
  </mat-card>
</div>





